body{
    padding-top: 7rem;
}

.ladder{
    margin:0 auto;
    width: 100%;
}

.footer{
    width: 100%;
    text-align: center;
    display: block;
}

.panel-heading h4{
    background-color: grey;
}

.container .row .col-md-4{
    padding-bottom: 25px;
}

.list-group-item
{
    background-color: transparent;
    color: #FFFFFF;
    border: transparent;
}
.toggleable-form
{
    display: none;
}

.toggleable-value
{
    display: block;
}

.editButton
{
    background-color: transparent;
    border: none;
}

p
{
    color: #bbb6b8;
}

/*########################*/
.btn-bs-file{
    position:relative;
}
.btn-bs-file input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

table>tr>td>th{
    width:25px;
}

.btn-primary{
    background-color: #D08323;
    border: thin solid #1c868c;
}

.mce-txt{
    color: #000000;
}

.twitter_typeahead{
    width: 100%;
}
.bottom{
    position:fixed;
    right:0;
    bottom:0;
    left:0;

}

.vertical-divider {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: auto;
    height: 50%;
    line-height: 0;
    text-align:center;
    text-transform: uppercase;
    transform: translateX(-50%);
}

.vertical-divider:before,
.vertical-divider:after {
    position: absolute;
    left: 50%;
    content: '';
    z-index: 9;
    border-left: 1px solid rgba(34,36,38,.15);
    border-right: 1px solid rgba(255,255,255,.1);
    width: 0;
    height: calc(100% - 1rem);
}

.row-divided > .vertical-divider {
    height: calc(50% - 1rem);
}

.vertical-divider:before {
    top: -100%;
}

.vertical-divider:after {
    top: auto;
    bottom: 0;
}

.row-divided {
    position:relative;
}

.row-divided > [class^="col-md-6"],
.row-divided > [class*=" col-"] {
    padding-left: 30px;  /* gutter width (give a little extra room) 2x default */
    padding-right: 30px; /* gutter width (give a little extra room) 2x default */
}


